

.dashboard-tab-header{
    padding: 1rem 0;
    display: flex;
    gap: 0.5rem;
}






.dashboard-list-line{
    padding: 0.25rem;
    border-bottom: 1px solid #ddd;

    display: grid;

    &.header{
        *{
            font-size: 0.75rem;
        }
        
    }

    &.camp{
        grid-template-columns: 2fr 6fr 3fr 1fr 1fr 10fr 1fr;
    }
   
    &.dashboard-tag{
        grid-template-columns: 2fr 4fr;
    }
    
}


// Specialized

.dashboard-list-line.dashboard-tag{
    .counts{
        display: flex;
        gap: 0.5rem;
        align-items:baseline;
        
        .unit{
            color: #666;
        }

        *{
            width: 8rem;
            text-align: right;
        }
    }
}







.dashboard-stats-tile{
    padding: 0.75rem 1rem;
    background-color: #eee;
    border-radius: 1rem;
    display: inline-block;

   

    .title{

    }
    .stat{

    }
}