

.top-nav{
    width: 100%;
    box-sizing: border-box;
    height: 4rem;
    padding: 1rem;

    background-color: white;
    border-bottom: 1px solid #DDD;

    display: flex;
}

// Hamburger menu
.top-nav .flex-left{
    .hamburger-menu{
        display: grid;
        gap: 0.01rem;
        height: 1.25rem;
        div{
            height: 0.15rem;
            width: 1.25rem;
            background-color: #666;
        }
    }
}


.top-nav .flex-left, .top-nav .flex-right{
    display: flex;
    align-items: center;
    gap: 1rem;
}

// Top right menu
.top-nav .flex-right{

    .profile-container{
        display: flex;
        gap: 1rem;
    }
}
