



<div class="view-outer-container double-column">

    <%# 
        
        PROFILE HERO
    
    %>
    <%= render "profiles/components/profile_hero",
        selected: 1
    %>

    <%= @favorite_organizations %>
    <%= @favorite_organizations.count() %>

</div>