



<div class="view-outer-container double-column">

    <%# 
        
        PROFILE HERO
    
    %>
    <%= render "profiles/components/profile_hero",
        selected: 2
    %>

    <% @favorite_organizations.each do |e| %>
        <% _organization = Organization.find_by(id: e.organization_id) %>
        
        <%= render "components/cards/organiaztion-card",
            organization: _organization
        %>
    <% end %>
</div>