



<div class="view-outer-container double-column">

    <%# 
        
        PROFILE HERO
    
    %>
    <%= render "profiles/components/profile_hero",
        selected: 0
    %>

    <div class="list-card-container">

        <% get_current_summer[:weeks].each do |w| %>

            <% weekly_activities = @schedule_activities
            .map{|e|
                Activity.find_by(id: e.activity_id)
            }.select{|a| dates_overlap?(a, w) }%>
            
            <div class="schedule-week-container">
                <div class="header section-title">
                    <%= render "uis/grammar/week",
                        size: "large",
                        start_at: w[:start_at],
                        end_at: w[:end_at] %>
                </div>
                <div class="card-container">
                    <% weekly_activities.each do |a| %>
                        <% _camp = Camp.find_by(id: a.camp_id) %>
                        <% _organization = Organization.find_by(id: _camp.organization_id) %>
            
                        <%= render "components/cards/activity-schedule-card",
                            organization: _organization,
                            camp: _camp,
                            activity: a
                        %>
                    <% end %>
                </div>
            </div>
            
        <% end %>
        

    </div>
</div>