

.activities-container{

    .card-container{
        display: grid;
        gap: 1rem;
    }

    
}


.hero-image{
    .activities-container{

        .card-container{
            padding-left: 12rem;
        }

        
    }
}
