// Hero
.camp-profile-hero-container{


    .camp-header-container{

        margin-top: 3rem;

        .tabs.page-tabs{
            margin-top: 1rem;
        }
    }

    .camp-overview-container{
        margin-left: 12rem;
        width: 600px;
    }

}



// Section  
.section.camp{
    padding: 1rem 0;

    
}