
body{
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

body .main-container{
    margin: 0;
    padding: 0;
    
}

a{
    color: black;
    text-decoration: none;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}



// Fundamental Layout
.view-outer-container{
    padding: 2rem;

    &.single-column{
        max-width: 800px;
        margin: auto;
    }
    &.double-column{
        max-width: 1200px;
        margin: auto;
    }
    &.full-screen{
        
    }




    .page-header{
        display: grid;
        gap: 1rem;
    }
}



// Grid and flex
.grid-container{
    box-sizing: content-box;
    display: grid;
    gap: 1rem;

    &.small{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    &.medium{
        grid-template-columns: 1fr 1fr;
    }
    &.single{
        grid-template-columns: 1fr;
    }
}


.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;

    .flex-left{

    }
    .flex-right{

    }
    
    &.center{
        justify-content: center;
    }
}
.flex-wrap-container{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;

    &.small{
        gap: 0.25rem;
    }
}


.side-panel-grid-container{
    box-sizing: content-box;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 1rem;

    .side-panel-container{
        border-radius: 0.75rem;
        border: 1px solid #ddd;
        padding: 1rem;

        .side-panel-section-container{
            padding: 1rem 0;
            display: grid;
            gap: 0.5rem;

            &:first-child{
                padding: 0 0 1rem;
            }
            &:last-child{
                padding: 1rem 0 0;
            }
            &:not(:first-child):not(:last-child){
                padding: 1rem 0;
            }
        }
    }
}

// Others
.thread-container{
    display: grid;
    padding: 2rem 0;
}

.list-card-container{
    display: grid;
    gap: 1rem;
    padding: 2rem 0;
}








