
body{
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: black;
}

body .main-container{
    margin: 0;
    padding: 0;
    
}

a{
    color: black;
    text-decoration: none;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}



// Fundamental Layout
.view-outer-container{
    padding: 2rem;

    &.single-column{
        max-width: 800px;
        margin: auto;
    }
    &.double-column{
        max-width: 1200px;
        margin: auto;
    }
}



// Grid and flex
.grid-container{
    box-sizing: content-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}


.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;

    .flex-left{

    }
    .flex-right{

    }
}

.side-panel-grid-container{
    box-sizing: content-box;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 1rem;

    .side-panel-container{
        border-radius: 0.75rem;
        border: 1px solid #ddd;
        padding: 1rem;
    }
}

// Others
.thread-container{
    display: grid;
    padding: 2rem 0;
}

.list-card-container{
    display: grid;
    gap: 1rem;
    padding: 2rem 0;
}








