
body{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #fff;
    color: black;
}

body .main-container{
    margin: 0;
    padding: 0;
    
}

a{
    color: black;
    text-decoration: none;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}



// Fundamental Layout
.view-outer-container{
    padding: 2rem;

    &.single-column{
        max-width: 800px;
        margin: auto;
    }
    &.double-column{
        max-width: 1200px;
        margin: auto;
    }
}



// Grid and flex
.grid-container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 1rem;
}


.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .flex-left{

    }
    .flex-right{

    }
}

// Others
.thread-container{
    display: grid;
    padding: 2rem 0;
}