<div class="view-outer-container double-column">

    <%# 
        PROFILE TOP
    %>
    <% if defined?@organization %>
        <%= render "components/heroes/organization-hero",
            organization: @organization %>
    <% end %>


    <%# 
        INDEX
    %>
    <div class="section camp">
        <%= render "components/titles/page-title",
            title: "Camps" %>
        <div class="thread-container">
            <% @camps.each do |camp| %>
                <div class="thread-card">
                    <%= render "components/cards/camp-hero-card",
                    camp: camp %>
                    
                </div>
            <% end %>
            <%= render "uis/buttons/button",
                type: "empty",
                text: "Add camp",
                size: "medium",
                href: new_camp_path(@organization) %>
        </div>
    </div>
    

</div>