<div class="view-outer-container single-column">

    <%# 
        PROFILE TOP
    %>
    <% if defined?@organization %>
        <%= render "components/heroes/organization-hero",
            organization: @organization %>
    <% end %>


    <%# 
        INDEX
    %>
    <div class="thread-container">
        <% @camps.each do |camp| %>
            <%= render "components/heroes/camp-hero",
            camp: camp %>
        <% end %>
        <%= render "uis/buttons/button",
            type: "empty",
            text: "Add camp",
            size: "medium",
            href: new_camp_path(@organization) %>
    </div>

</div>