<%
    @age_group_min_arr = age_group_options.select{|obj| obj[:id] == age_group_min};
    if @age_group_min_arr.count > 0
        @age_group_min = @age_group_min_arr[0]
    end
    
    @age_group_max_arr = age_group_options.select{|obj| obj[:id] == age_group_max};
    if @age_group_max_arr.count > 0
        @age_group_max = @age_group_max_arr[0]
    end

    @size = defined?(size) ? size : "regular"

%>

<div class="grammar grammar-age-group <%= @size %> ">
    <img class="location icon" src="/images/icons/birthday-black.svg"/>
    <% if age_group_min.present? && @age_group_min != nil %>
        <%= @age_group_min[:name] %>
    <% end %>
    <% if age_group_max.present? && @age_group_max != nil %>
        to
        <%= @age_group_max[:name] %>
    <% end %>
</div>