
<% 
    @size = defined?(size) ? size : "regular"
%>



<div class="grammar grammar-location <%= @size %>">
    <img class="location icon" src="/images/icons/location-black.svg"/>
    <%= location.city %>,
    <%= location.state %>,
    <%= location.country %>
</div>