
<% 

    _type = defined?(type) ? type : "primary"

    _font_size = ""
    if defined?(size)
        _size = size
        if size == "large"
            _font_size = "h3"
        elsif size == "medium"
            _font_size = "h4"
        end
    else
        _size = "regular"
    end 


    if(start_at.month == end_at.month) 
        _text = "#{start_at.strftime("%b")} #{start_at.strftime("%d")} - #{end_at.strftime("%d")}"
    else
        _text = "#{start_at.strftime("%b")} #{start_at.strftime("%d")} - #{end_at.strftime("%b")} #{end_at.strftime("%d")}"
    end
%>


<% if start_at.present? && end_at.present? %>
    <div class="grammar grammar-date <%= _type %> <%= _size %> <%= _font_size %> ">
        <% if defined?(icon) && icon %>
            <img class="calendar icon" src="/images/icons/calendar-black.svg"/>
        <% end %>
        <%= _text %>
    </div>
<% end %>