
<% 
    font_size = ""
    if defined?(size)

        if size == "large"
            font_size = "h3"
        elsif size == "medium"
            font_size = "h4"
        end

    end 
%>


<% 
    if(start_at.month == end_at.month) 
        text = "#{start_at.strftime("%b")} #{start_at.strftime("%d")} - #{end_at.strftime("%d")}"
    else
        text = "#{start_at.strftime("%b")} #{start_at.strftime("%d")} - #{end_at.strftime("%b")} #{end_at.strftime("%d")}"
    end
%>


<% if start_at.present? && end_at.present? %>
    <div class="date <%= font_size %> ">
        <%= text %>
    </div>
<% end %>