




.button{
    
    
    border: 2px solid rgba(0, 0, 0, 0);

    padding: 0.25rem 1rem;
    border-radius: 0.5rem;

    text-align: center;

}


// Type
.button{

    transition: all 0.2s;
    
    &.primary{
        background-color: #15B166;
        color: white;
    }
    &.secondary{
        border-color: #999;
        color: #333;
    }
    &.empty{
        background-color: rgba(0, 0, 0, 0);
        color: #333;
        border-color: #DDD;
        border-style: dashed;

        &:hover{
            background-color: #eee;
            color: #000;
            border-color: #eee;
            border-style: solid;
        }
    }
}

// Size
.button{

    
    border: 1px solid;

    padding: 0.25rem 1rem;
    border-radius: 0.5rem;

    &.regular{
        padding: 0.75rem 1rem;
        border-radius: 0.75rem;
    }

    &.medium{
        padding: 1rem 1.5rem;
        border-radius: 1rem;
    }

    &.large{
        padding: 2rem 3rem;
        border-radius: 1.5rem;
    }
}

.button, .text-link{

    font-size: 1rem;

    &.regular{
        font-size: 1rem;
    }

    &.medium{
        font-size: 1.25rem;
    }

    &.large{
        font-size: 1.5rem;
    }
}



// Interaction
.button{
    cursor: pointer;
    &:hover{
        text-decoration: none;
    }
}




.text-link{
    text-decoration: underline;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: #777;

    &:hover{
        text-decoration: none;
        color: #666;
    }
}