

.form-container{


    .form-group{
        padding: 1.5rem 0;
        display: grid;
        gap: 0.5rem;
        .form-field{
           
            width: 100%;
            
            display: grid;
            gap: 0.1rem;

            .form-label{
                color: #666;
            }

            .form-control {
                box-sizing: border-box;
                width: 100%;
                border: none;
                background-color: #f3f3f3;
                border-radius: 1rem;
                padding: 0.75rem 1rem;
                margin: 0.25rem 0 0.15rem;

                font-size: 1rem;
            }


            .form-dates-fields{
                display: flex;
                gap: 0.5rem;
            }
    
        }

        .caption{
            color: #999;
            font-size: 80%;
        }

    }


    .button-group{
        display: grid;
        gap: 1rem;

        .optional-button{
            display: grid;
            grid-template-columns: 4fr 1fr;
            align-items:first baseline;
            gap: 2rem;

            .left-container{
                display: grid;
                gap: 1rem;
                .subtext{
                    text-align: left;
                }
                
            }

            .text-link{
                justify-content: right;
            }
            
            padding: 1rem 0 0;
            border-top: 1px solid #eee;
        }
    }
    
    

}



// Specialized

.form-container{

    .form-fields-group{

        &.age-groups, &.times, &.dates{
            display: flex;
            align-items: first baseline;
            gap: 2rem;
        }

    }


    .form-discounted-price{
        display: grid;
        grid-template-columns: 1fr 4fr;
        gap: 0.5rem;
        align-items: center;
        .description{
            display: flex;
            gap: 0.5rem;
            align-items: center;
            .line-field{
                width: 4rem;
            }
        }
    }



    

}











.dropdown-menu-container{
    border: 1px #ccc solid;
    list-style: none;

    li {
        
        z-index: 2; 
        
        &:not(.init) { float: left; width: 130px; display: none; background: #ddd; }
        &:not(.init):hover, ul li.selected:not(.init) { background: #09f; }

        display: flex;
        align-items: center;
        justify-content: space-between;
        .icon{

        } 
    }
}


// Size

.dropdown-menu-container{
    height: 30px;
    width: 20rem;
    padding: 0.5rem 0.25rem;
    border-radius: 0.5rem;

    li {
        padding: 0.2rem 0.5rem;
        .icon{
            width: 1.25rem;
        } 
    }
}
