

.grammar{
    display: flex;
    gap: 0.25rem;

    .icon{
        width: 1.25rem;
    }
}


// Price
.grammar-price{
    align-items: baseline;
    color: #666;
    .figure{
        font-weight: 600;
        font-size: 1.25rem;
    }


    &.medium{
        gap: 0.5rem;
        font-size: 1rem;
        .figure{
            font-size: 1.75rem;
        }
    }

    &.large{
        gap: 0.5rem;
        font-size: 1.25rem;
        .figure{
            font-size: 2rem;
        }
    }
}


// Location
.grammar-location{
    align-items: center;

    color: #999;
    .icon{
        filter: opacity(40%);
    }

    &:hover{
        text-decoration: underline;
    }
}