

.grammar{
    display: flex;
    gap: 0.25rem;

}


/*

    Size

*/
.grammar{

    &.small{
        gap: 0.3rem;
        font-size: 0.8rem;
        .icon{
            width: 1rem;
        }
    }

    &.regular{
        gap: 0.5rem;
        font-size: 1rem;
        .icon{
            width: 1.25rem;
        }
    }

    &.medium{
        gap: 0.7rem;
        font-size: 1.2rem;
        .icon{
            width: 1.5rem;
        }
    }

    &.large{
        gap: 1rem;
        font-size: 1.5rem;
        .icon{
            width: 1.75rem;
        }
    }
}




/*

    Type

*/
.grammar{

    &.primary{
        color: #333;
    }

    &.secondary{
        color: #999;
        .icon{
            opacity: 0.5;
        }
    }

}




/*

    Custom
    
*/


// Price
.grammar-price{
    align-items: baseline;
    
    .figure{
        font-weight: 700;
    }


    &.medium{
        .figure{
            font-size: 1.5rem;
        }
    }

    &.large{
        .figure{
            font-size: 1.75rem;
        }
    }
}


// Date
.grammar-date{
    align-items: center;
    
    .icon{
        filter: opacity(80%);
    }
}


// Location
.grammar-location{
    align-items: center;
    
    .icon{
        filter: opacity(80%);
    }

    &:hover{
        text-decoration: underline;
    }
}


// Age Group
.grammar-age-group{
    align-items: center;

    .icon{
        filter: opacity(80%);
    }
}