


.tag{
    display: inline-block;
    background-color: #eee;
    display: inline;
}


// Size
.tag{
    padding: 1rem;
    border-radius: 0.5rem;
    
    &.small{
        padding: 0.15rem 0.5rem;
        border-radius: 0.5rem;
        font-size: 0.8rem;
    }

    &.medium{
        padding: 1rem;
        border-radius: 0.5rem;
    }
}