


.list-card{

    border-radius: 1rem;
    overflow: hidden;

    background-color: white;
    box-shadow: 0.5rem 0.5rem 2rem rgba(0,0,0,0.05);

    .content{
        
        display: grid;
        align-items: center;

        .left-body{

            padding: 1.5rem 1.5rem 1rem;

            .header{
                padding: 0 0 1rem;
                border-bottom: 1px solid #eee;

                display: flex;
                justify-content: space-between;
                align-items: baseline;
            }
            .footer{

                padding: 1rem 0 0;
                display: grid;
                
                .footer-child{
                    display: grid;
                    gap: 0.25rem;
                    align-items: center;
                    &:not(:last-child){
                        border-right: 1px solid #eee;
                    }
                    &:not(:first-child){
                        padding-left: 1rem;
                    }
                    &:last-child{
                        justify-content: right;
                    }
                }
                
                
            }
        }

        .right-image{
            height: 100%;
            overflow: hidden;
        }

        
    }
}


/*

    ACTIVITY SCHEDULE

*/
.list-card.activity-card{

    .content{
        
        .left-body{
            flex-grow: 1;
            .header{
                .title{
                    margin-bottom: 0.5rem;
                }
            }
            .footer{
                grid-template-columns: 1fr 3fr 2fr;

                .price{
                    display: flex;
                    align-items: center;
                }
            }
        }

        .right-body{
            padding: 1rem;
            flex-grow: 0;
        }
    }

    &.hero-image{

        .content{
            grid-template-columns: 4fr 1fr;

        }
    }

}



/*

    ACTIVITY SCHEDULE

*/
.list-card.activity-schedule-card{

    .content{
        grid-template-columns: 4fr 1fr;
        .left-body{

            padding: 2rem;

            .header{

            }
            .footer{

                grid-template-columns: 1fr 4fr 1fr;
                
                .footer-child{

                }
                
                
            }
        }

        .right-image{
            overflow: hidden;
        }

        
    }

}


