

.thread-card{
    padding: 1rem 0 2rem;
    width: 100%;
    border-bottom: 1px solid #eee;

    .content{

        .header{
            display: flex;
            justify-content: space-between;
            gap: 2rem;

            .flex-container{
                flex: 0 0 auto;
            }
        }
        
    }

}



/*

    ACTIVITY

*/
.thread-card.activity-thread{
    .content{
        .header{
            display: grid;
            width: 100%;
            grid-template-columns: 1fr 5fr 1fr;
            gap: 2rem;
            align-items: center;
            
            .date{
                font-weight: 500;
                color: #888;
            }

            .main-content{
                display: grid;
                gap: 0.5rem;

                .description{
                    color: #666;
                }
            }
        }

        .body{
            margin-top: 2rem;
            margin-left: 12rem;
        }

        
    }
}

// CAMP types
.thread-card.activity-thread{
    &.camp-type-1{
        padding: 1rem 0 1rem;
        .content{
            .header{
                .left-container{
                    grid-template-columns: 1fr 5fr 1fr;
                    gap: 1rem;

                    .main-content{
                        gap: 0.5rem;
                    }
                }
            }
        }
    }
    
}