

.thread-card{
    padding: 1rem 0;
    width: 100%;
    border-top: 1px solid #eee;

    .content{

        .header{
            display: grid;
            grid-template-columns: 1fr 5fr;
            .date{
                font-weight: 500;
                color: #888;
            }
        }
        
    }

}