<div class="search-container">
  <%= form_with url: index_tag_path, class: "form", method: :get, local: true do |form| %>
    <input class="input" type="text" name="title" placeholder="Search by name" value="<%= params[:title] %>">
    <%= form.submit "Search", class: "button" %>
  <% end %>
</div>

<div class="view-outer-container organizations-index-container">
    <div class="flex-wrap-container">
        <% @tag.each do |t| %>
            <%= render "uis/tags/tag",
              href: edit_tag_path(t.id),
              tg: t,
              size: "small" %>
        <% end %>
    </div>

</div>