<%
    if form_target.age_group_min.presence
        @age_group_min = form_target.age_group_min
    elsif defined?(form_parent) && form_parent.age_group_min.presence
        @age_group_min = form_parent.age_group_min
    else
        @age_group_min = ""
    end

    if form_target.age_group_max.presence
        @age_group_max = form_target.age_group_max
    elsif defined?(form_parent) && form_parent.age_group_max.presence
        @age_group_max = form_parent.age_group_max
    else
        @age_group_max = ""
    end
%>

<div class="form-group">
    <h4>Age groups</h4>
    <div class="form-field">
        <%= f.label "Minimum age group (Please select this only, if the target age group is one)", class: 'form-label' %>
        <%= f.select :age_group_min, 
            options_for_select(
                age_group_options.map{|c|[c[:name], c[:id]]},
                :selected => @age_group_min), 
            {class: 'form-drop-box'} %>
    </div>
    <div class="form-field">
        <%= f.label "Max age group (optional)", class: 'form-label' %>
        <%= f.select :age_group_max, 
            options_for_select(
                age_group_options.map{|c|[c[:name], c[:id]]},
                :selected => @age_group_max), 
            {class: 'form-drop-box'} %>
    </div>
    
</div>

