


<div class="form-group">
    <h4>Dates</h4>
    <div class="form-dates-group">
    <h6>Starting from</h6>
    <div class="form-field">
        <%= f.date_select :start_at, start_year: 2023, end_year: 2026 %>
    </div>
    </div>
    <div class="form-dates-group">
    <h6>Ending at</h6>
    <div class="form-field">
        <%= f.date_select :end_at, start_year: 2023, end_year: 2026 %>
    </div>
    </div>
</div>