<div class="view-outer-container single-column">
    <div class="content">
    <%= render "components/titles/page-title",
    title: "Add organization" %>
    <%= form_with(url: org_create_path, model: @organization, local: true, method: :post, html: { class: 'form-container' }) do |f| %>

        <%= render "organizations/components/organization_form", 
            f: f,
            form_target: @organization
        %>

        <div class="button-group">
            <%= f.submit 'Create', class: 'button primary medium full-width' %>
        </div>
        
    <% end %>
  </div>
</div>